@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; box-sizing:border-box; text-decoration:none; color:#fff;}
body { 
	font-family: 'Cinzel', serif, '微軟正黑體','Microsoft JhengHei'; }

nav{
	height:200px;
	background-color:#b5c7c3;
	position:relative;}
nav .logo{
	padding:50px 0;
	position:absolute;
	left:50%;
	margin-left:-140px;}/*回減元素寬度以置中*/
nav ul{ 
	padding-left:0;
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-400px;}/*回減元素寬度以置中*/
nav li{ 
	list-style-type:none;
	background:url(portfolio_c-assets/nav.png) no-repeat;
	float:left;
	margin-left:25px;
	margin-right:40px;
	height:20px;
	overflow:hidden;}
nav li a{ 
	display:block;
	margin-left:30px;
	font-size:14px;}
nav li a:hover{
	color:#fff;
	margin-top:-20px;}
nav li a span{
	display:block;}
	
.first_page{
	width:1140px;
	margin:4% auto;
	position:relative;}
.first_page .row_1{
	height:370px;
	width:49.5%;
	float:left;
	background: -webkit-linear-gradient( left top, rgba(0,0,0,0.00) 75%,rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Google Chrome 與 Apple Safari*/ 
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Opera */
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Mozilla FireFox*/
	background: linear-gradient(to bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/* Standard syntax; must be last */}
.first_page .row_2{
	height:370px;
	width:32.8%;
	float:right;
	background: -webkit-linear-gradient( right bottom, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Google Chrome 與 Apple Safari*/ 
	background: -o-linear-gradient(top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Opera */
	background: -moz-linear-gradient(top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Mozilla FireFox*/
	background: linear-gradient(to top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/* Standard syntax; must be last */
	background-size:cover;}
.first_page .row_3{
	background:url(portfolio_c-assets/q.jpg) 194px no-repeat;
	height:190px;
	border-top:10px #fff solid;
	clear:both;}
.first_page .row_4{
	background-color:#cea69b;
	height:370px;
	width:180px;
	margin-right:10px;
	position:absolute;
	right:32.9%;
	top:0;}
.first_page .row_title{
	width:190px;
	height:190px;
	overflow:hidden;}
.first_page .row_1_a{
	background-color:#77a1b4;
	border-top:10px #fff solid;
	border-left:10px #fff solid;
	margin:180px 0 0 auto;
	text-align:center;}
.first_page .row_2_a{
	background-color:#9db881;
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	margin:0 0 180px 0;
	text-align:center;}
.first_page .row_3_a{
	background-color:#8893b4;
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	text-align:center;
	float:left;}
.first_page .book{
	float:right;
	width:373px;
	height:180px;
	background-image:url(portfolio_c-assets/book02.jpg), url(portfolio_c-assets/book01.jpg);
	background-repeat:no-repeat;
	background-position:right, left;
	}
.first_page .row_4_a{
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	background-color:#f5d1a0;}
.first_page .row_4_a a{
	display:block;
	width:180px;
	height:180px;
	background:url(portfolio_c-assets/about01.png) no-repeat center;}
.first_page .row_4_a a:hover{
	background:url(portfolio_c-assets/about02.png) no-repeat center;}
	
.second_page{
	padding:5% 16%;
	height:110vh;
	background-image:url(portfolio_c-assets/page2_bg.png),url(portfolio_c-assets/page2_bg.jpg);
	background-repeat:repeat-x, no-repeat;
	background-position:top, center;
	background-size:auto, cover;}
.page_title{
	width:180px;
	height:180px;
	border:1px #fff solid;
	margin-bottom:60px;}
.second_page .title_2{
	color:#ccd0d3;
	border-color:#ccd0d3;}
.second_page .second_content{
	width:100%;
	padding:0 6%;
	padding-top:5%;
	background-color:#fff;
	text-align:center;
	float:left;}
.second_page .second_content:last-child{
	padding-bottom:50px;}
.second_page .second_item{
	width:23%;
	border-radius:5px;
	padding:10px;
	margin-right:2%;
	float:left;}
.second_page .img_overlay{
	width:250px;
	height:250px;
	margin:0 auto;
	border:8px rgba(240,240,240,1.00) solid;
	position:relative;
	overflow:hidden;}
.second_page .img_overlay a{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: 0.2;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;}
.second_page .img_overlay:hover a{
	opacity: 0;}
.second_page .img_overlay img{
	width:250px;
	height:250px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
.second_page .img_overlay:hover img{
	width:275px;
	height:275px;
	-webkit-transform: translate(-12.5px, -12.5px);
	-moz-transform: translate(-12.5px, -12.5px);
	-o-transform: translate(-12.5px, -12.5px);
	transform: translate(-12.5px, -12.5px);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
.second_page .second_item>a{
	display:inline-block;
	margin-top:30px;
	padding:0 15px;
	color:#aaa;
	border:1px #ccc solid;
	border-radius:30px;
	font-size:18px;
	line-height:50px;
	height:50px;}
.second_page .second_item>a:hover{
	color:#77a1b4;
	border:1px #77a1b4 solid;
	border-radius:30px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
	
.third_page{
	padding:300px 0 0 0;
	background-image:url(portfolio_c-assets/page3_bg.jpg);
	background-repeat:no-repeat;
	background-position-x:25px;}
.third_page .title_3{
	color:#d5c5b8;
	border-color:#d5c5b8;
	margin-left:1415px;}
.third_page .third_content{
	padding:0 16%;
	background-image:url(portfolio_c-assets/graphic_bg.jpg);
	height:600px;
	position:relative;}
.third_page .third_item{
	padding:0 2%;
	position:relative;
	overflow:hidden;}
.third_page .item_1{
	position:absolute;
	top:-30px;
	}
.third_page .item_2{
	position:absolute;
	top:60px;
	left:32%;
	}
.third_page .item_3{
	position:absolute;
	top:30px;
	left:48%;
	}
.third_page .item_4{
	position:absolute;
	top:60px;
	left:64%;
	}
.third_page .third_item_title{
	display:block;
	width:265px;
	height:45px;
	text-align:right;
	padding-right:20px;
	padding-top:15px;
	background:#6c635c;
	position:absolute;
	top:-40px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item_title_bg{
	width:125px;
	height:0;
	position:absolute;
	right:0;
	border-top:30px solid #6c635c;
	border-left:30px solid transparent;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover .third_item_title{
	background:#905d4d;
	top:0px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover .third_item_title_bg{
	border-top:30px solid #905d4d;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover a:last-child{
	display:block;
	width:100%;
	background:#905d4d;}

.fourth_page{
	padding:100px 16% 0 16%;
	height:100vh;
	background: url(portfolio_c-assets/cari_bg.png) center bottom 45px, linear-gradient(135deg, #dfe0e0 40%, #d3d4d4 0) top left, linear-gradient(-45deg, #c7c8c8 15%, #d3d4d4 0) top right, #7f8989 bottom;
	background-size:906px 325px,60% 92%,60% 92%,100% 10%;
	background-repeat:no-repeat;}
.fourth_page .title_4{
	color:#666;
	border-color:#666;
	float:left;}
.fourth_page .fourth_content{
	width:75%;
	margin-left:60px;
	padding:45px 60px 0 60px;
	float:left;
	border-radius:10px;
	background:#fff;
	position:relative;}
.fourth_page .fourth_item{
	float:left;
	width:33%;
	text-align:center;
	margin-bottom:20px;}
.fourth_page .fourth_item a{
	display:block;
	color:#333;
	height:60px;
	line-height:60px;}
	
.arrow_box {
	clear:both;
	position: relative;
	background: #fff;
}
.arrow_box:after {
	top: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
