@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration:none; color:#fff;}
body { 
	font-family: 'Cinzel', serif, '微軟正黑體','Microsoft JhengHei'; }

nav{
	height:20vh;
	background-color:#b5c7c3;
	position:relative;}
nav .logo{
	padding:50px 0;
	position:absolute;
	left:50%;
	margin-left:-140px;}/*回減元素寬度以置中*/
nav ul{ 
	padding-left:0;
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-400px;}/*回減元素寬度以置中*/
nav li{ 
	list-style-type:none;
	background:url(portfolio_c-assets/nav.png) no-repeat;
	float:left;
	margin-left:25px;
	margin-right:40px;
	height:20px;
	overflow:hidden;}
nav li a{ 
	display:block;
	margin-left:30px;
	font-size:14px;}
nav li a:hover{
	color:#fff;
	margin-top:-20px;}
nav li a span{
	display:block;}
	
.first_page{
	width:1140px;
	margin:4% auto;
	position:relative;}
.first_page .row_1{
	height:370px;
	width:49.5%;
	float:left;
	background: -webkit-linear-gradient( left top, rgba(0,0,0,0.00) 75%,rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Google Chrome 與 Apple Safari*/ 
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Opera */
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/*Mozilla FireFox*/
	background: linear-gradient(to bottom right, rgba(0,0,0,0.00) 75%, rgba(40,70,83,1.00)), url(portfolio_c-assets/web.jpg);/* Standard syntax; must be last */}
.first_page .row_2{
	height:370px;
	width:32.8%;
	float:right;
	background: -webkit-linear-gradient( right bottom, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Google Chrome 與 Apple Safari*/ 
	background: -o-linear-gradient(top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Opera */
	background: -moz-linear-gradient(top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/*Mozilla FireFox*/
	background: linear-gradient(to top left, rgba(0,0,0,0.00) 50%, rgba(41,87,12,1.00)), url(portfolio_c-assets/graphic.jpg);/* Standard syntax; must be last */
	background-size:cover;}
.first_page .row_3{
	background:url(portfolio_c-assets/q.jpg) 194px no-repeat;
	height:190px;
	border-top:10px #fff solid;
	clear:both;}
.first_page .row_4{
	background-color:#cea69b;
	height:370px;
	width:180px;
	margin-right:10px;
	position:absolute;
	right:32.9%;
	top:0;}
.first_page .row_title{
	width:190px;
	height:190px;
	overflow:hidden;
	font-family:'Cinzel', serif, "heisei-mincho-std",sans-serif;
	font-size:12px;
	font-style: normal;
	font-weight: 300;
	letter-spacing:3px;}
.first_page .row_1_a{
	background-color:#77a1b4;
	border-top:10px #fff solid;
	border-left:10px #fff solid;
	margin:180px 0 0 auto;
	text-align:center;}
.first_page .row_1_a a{
	color:#c5dce7;}
.first_page .row_1_a span{
	display:block;
	font-size:30px;
	padding:40px 45px 10px 55px;
	color:#c5dce7;
	letter-spacing:10px;}
.first_page .row_2_a{
	background-color:#9db881;
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	margin:0 0 180px 0;
	text-align:center;}
.first_page .row_2_a a{
	color:#e4f4d4;}
.first_page .row_2_a span{
	display:block;
	font-size:30px;
	padding:40px 45px 10px 55px;
	color:#e4f4d4;
	letter-spacing:10px;}
.first_page .row_3_a{
	background-color:#8893b4;
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	text-align:center;
	float:left;}
.first_page .row_3_a a{
	color:#d4ddec;}
.first_page .row_3_a span{
	display:block;
	font-size:30px;
	padding:40px 45px 10px 55px;
	color:#d4ddec;
	letter-spacing:10px;}
.first_page .book{
	float:right;
	width:373px;
	height:180px;
	background-image:url(portfolio_c-assets/book02.jpg), url(portfolio_c-assets/book01.jpg);
	background-repeat:no-repeat;
	background-position:right, left;
	}
.first_page .row_4_a{
	border-bottom:10px #fff solid;
	border-right:10px #fff solid;
	background-color:#f5d1a0;}
.first_page .row_4_a a{
	display:block;
	width:180px;
	height:180px;
	background:url(portfolio_c-assets/about01.png) no-repeat center;}
.first_page .row_4_a a:hover{
	background:url(portfolio_c-assets/about02.png) no-repeat center;}
	
.second_page{
	padding:5% 16%;
	height:110vh;
	background-image:url(portfolio_c-assets/page2_bg.png),url(portfolio_c-assets/page2_bg.jpg);
	background-repeat:repeat-x, no-repeat;
	background-position:top, center;
	background-size:auto, cover;}
.page_title{
	width:180px;
	height:180px;
	border:1px #fff solid;
	margin-bottom:60px;
	font-family:'Cinzel', serif, "heisei-mincho-std",sans-serif;
	font-size:12px;
	font-style: normal;
	font-weight: 300;
	letter-spacing:3px;}
.second_page .title_2{
	color:#ccd0d3;
	border-color:#ccd0d3;
	text-align:center;}
.second_page .title_2 span{
	display:block;
	font-size:30px;
	padding:40px 40px 10px 50px;
	color:#ccd0d3;
	letter-spacing:10px;}
.second_page .second_content{
	width:100%;
	padding:0 6%;
	padding-top:5%;
	background-color:#fff;
	text-align:center;
	float:left;}
.second_page .second_content:last-child{
	padding-bottom:50px;}
.second_page .second_item{
	width:23%;
	border-radius:5px;
	padding:10px;
	margin-right:2%;
	float:left;}
.second_page .img_overlay{
	width:250px;
	height:250px;
	margin:0 auto;
	border:8px rgba(240,240,240,1.00) solid;
	position:relative;
	overflow:hidden;}
.second_page .img_overlay>a{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: 0.2;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;}
.second_page .second_item:hover .img_overlay>a{
	opacity: 0;}
.second_page .second_item img{
	width:250px;
	height:250px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
.second_page .second_item:hover img{
	width:275px;
	height:275px;
	-webkit-transform: translate(-12.5px, -12.5px);
	-moz-transform: translate(-12.5px, -12.5px);
	-o-transform: translate(-12.5px, -12.5px);
	transform: translate(-12.5px, -12.5px);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
.second_page .second_item>a{
	display:inline-block;
	margin-top:30px;
	padding:0 15px;
	color:#aaa;
	border:1px #ccc solid;
	border-radius:30px;
	font-size:18px;
	line-height:50px;
	height:50px;}
.second_page .second_item:hover>a{
	color:#77a1b4;
	border:1px #77a1b4 solid;
	border-radius:30px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
	
.third_page{
	padding:300px 0 0 0;
	background-image:url(portfolio_c-assets/page3_bg.jpg);
	background-repeat:no-repeat;
	background-position-x:25px;}
.third_page .title_3{
	color:#d5c5b8;
	border-color:#d5c5b8;
	margin-left:1415px;
	text-align:center;}
.third_page .title_3 span{
	display:block;
	font-size:30px;
	padding:40px 40px 10px 50px;
	color:#d5c5b8;
	letter-spacing:10px;}
.third_page .third_content{
	padding:0 16%;
	background-image:url(portfolio_c-assets/graphic_bg.jpg);
	height:600px;
	position:relative;}
.third_page .third_item{
	padding:0 2%;
	position:relative;
	overflow:hidden;}
.third_page .item_1{
	position:absolute;
	top:-30px;}
.third_page .item_2{
	position:absolute;
	top:60px;
	left:32%;}
.third_page .item_3{
	position:absolute;
	top:30px;
	left:48%;}
.third_page .item_4{
	position:absolute;
	top:60px;
	left:64%;}
.third_page .item_title{
	display:block;
	width:265px;
	height:45px;
	font-size:18px;
	text-align:right;
	padding-right:20px;
	padding-top:15px;
	background:#6c635c;
	position:absolute;
	top:-40px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .item_title_bg{
	width:125px;
	height:0;
	position:absolute;
	right:0;
	border-top:30px solid #6c635c;
	border-left:30px solid transparent;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover .item_title{
	background:#905d4d;
	top:0px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover .item_title_bg{
	border-top:30px solid #905d4d;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition:all 0.2s linear;}
.third_page .third_item:hover a:last-child{
	display:block;
	width:100%;
	background:#905d4d;}

.fourth_page{
	padding:100px 16% 0 16%;
	height:100vh;
	background: url(portfolio_c-assets/cari_bg.png) center bottom 45px, -webkit-linear-gradient(135deg, #dfe0e0 40%, #d3d4d4 0%) top left, -webkit-linear-gradient(-45deg, #c7c8c8 15%, #d3d4d4 0) top right, #7f8989 bottom;
	background: url(portfolio_c-assets/cari_bg.png) center bottom 45px, -moz-linear-gradient(135deg, #dfe0e0 40%, #d3d4d4 0%) top left, -moz-linear-gradient(-45deg, #c7c8c8 15%, #d3d4d4 0) top right, #7f8989 bottom;
	background: url(portfolio_c-assets/cari_bg.png) center bottom 45px, -o-linear-gradient(135deg, #dfe0e0 40%, #d3d4d4 0%) top left, -o-linear-gradient(-45deg, #c7c8c8 15%, #d3d4d4 0) top right, #7f8989 bottom;
	background: url(portfolio_c-assets/cari_bg.png) center bottom 45px, linear-gradient(135deg, #dfe0e0 40%, #d3d4d4 0%) top left, linear-gradient(-45deg, #c7c8c8 15%, #d3d4d4 0) top right, #7f8989 bottom;
	background-size:906px 325px,60% 92%,60% 92%,100% 10%;
	background-repeat:no-repeat;}
.fourth_page .title_4{
	color:#666;
	border-color:#666;
	float:left;
	text-align:center;}
.fourth_page .title_4 span{
	display:block;
	font-size:30px;
	padding:40px 40px 10px 50px;
	color:#666;
	letter-spacing:10px;}
.fourth_page .fourth_content{
	width:75%;
	margin-left:60px;
	padding:45px 60px 0 60px;
	float:left;
	border-radius:10px;
	background:#fff;
	position:relative;}
.fourth_page .fourth_item{
	float:left;
	width:33%;
	text-align:center;
	margin-bottom:20px;}
.fourth_page .fourth_item a{
	display:block;}
.fourth_page .fourth_item a:last-child{
	display:block;
	color:#333;
	height:60px;
	line-height:60px;
	transition:all 0.2s linear;}
.fourth_page .fourth_item.item_1 a,.fourth_item.item_2 a,.fourth_item.item_3 a{
	font-size:18px;}
.fourth_page .fourth_item.item_1 img,.fourth_item.item_2 img,.fourth_item.item_3 img{
	width:250px;
	height:250px;
	border:0;}
.fourth_page .fourth_item.item_1:hover img{
	border:8px #7ea7b5 solid;}
.fourth_page .fourth_item.item_1:hover a{
	color:#7ea7b5;}
.fourth_page .fourth_item.item_2:hover img{
	border:8px #ef99b8 solid;}
.fourth_page .fourth_item.item_2:hover a{
	color:#ef99b8;}
.fourth_page .fourth_item.item_3:hover img{
	border:8px #fcc378 solid;}
.fourth_page .fourth_item.item_3:hover a{
	color:#d29d58;}
.fourth_page .fourth_item.item_1:hover img,.fourth_item.item_1:hover a,.fourth_item.item_2:hover img,.fourth_item.item_2:hover a,.fourth_item.item_3:hover img,.fourth_item.item_3:hover a{
	transition:all 0.2s linear;}
	
.arrow_box {
	clear:both;
	position: relative;
	background: #fff;}
.arrow_box:after {
	top: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;}
	
.fifth_page{
	background:#e4e5e5;
	background-image:url(portfolio_c-assets/about_bg.png);
	height:100vh;
	padding:0 16%;
	position:relative;
	overflow:hidden;}
.fifth_page .fifth_item{
	border-radius:30px;
	position:absolute;}
.fifth_page .item_1{
	top:50%;
	left:50%;
	width:250px;
	height:250px;
	margin-left:-125px;
	margin-top:-125px;
	border-radius:250px;
	background:url(portfolio_c-assets/about_head.png),#e4e5e5;
	background-position:center;
	background-repeat:no-repeat;
	z-index:5;}
.fifth_page .item_2{
	right:16%;
	top:-30px;
	height:500px;
	width:33%;
	background-color:#b4ccc2;
	padding:130px 60px 30px 60px;}
.fifth_page .item_2 h1{
	color:#0f887b;
	font-size:24px;
	font-weight:normal;
	letter-spacing:5px;
	margin-bottom:15px;}
.fifth_page .item_2 a{
	font-size:24px;
	line-height:40px;
	letter-spacing:3px;
	font-weight:lighter;}
.fifth_page .item_3{
	left:16%;
	top:105px;
	width:33%;
	background-color:#f4a97a;
	padding:45px 60px 30px 60px;}
.fifth_page .item_3 h1{
	color:#ffe6c5;
	font-size:24px;
	font-weight:normal;
	letter-spacing:5px;
	margin-bottom:30px;}
.fifth_page .item_4{
	position:absolute;
	right:16%;
	top:500px;
	height:400px;
	width:33%;
	background-color:#76aca6;
	padding:130px 60px 30px 60px;}
.fifth_page .item_4 h1{
	color:#c7e1d6;
	font-size:24px;
	font-weight:normal;
	letter-spacing:5px;
	margin-bottom:15px;}
.fifth_page .item_4 a{
	font-size:24px;
	line-height:40px;
	letter-spacing:3px;
	font-weight:lighter;}
.fifth_page .icon_bar{
	width:100%;
	font-family:'微軟正黑體','Microsoft JhengHei';
	font-weight:lighter;
	position:relative;
	margin-bottom:30px;}
.fifth_page .icon{
	width:70px;
	height:70px;
	border-radius:70px;
	background:-webkit-linear-gradient(135deg, #f19c65 50%, #ea8b50 0%);
	background:-moz-linear-gradient(135deg, #f19c65 50%, #ea8b50 0%);
	background:-o-linear-gradient(135deg, #f19c65 50%, #ea8b50 0%);
	background:linear-gradient(135deg, #f19c65 50%, #ea8b50 0%);
	color:#f5d1a0;
	font-size:36px;
	line-height:70px;
	text-align:center;}
.fifth_page .icon img{
	margin-top:15px;}
.fifth_page .icon_bar h2{
	font-size:18px;
	font-weight:lighter;
	padding-left:10px;
	position:absolute;
	left:75px;
	top:0px;}
.fifth_page .icon_bar h3{
	font-size:24px;
	font-weight:lighter;
	padding-left:10px;
	position:absolute;
	left:75px;
	bottom:0px;}
.fifth_page .icon_bar span{
	font-size:36px;}
.fifth_page .icon_bar .bar{
	background:#f5d1a0;
	width:50%;
	height:5px;
	border-radius:5px;
	position:absolute;
	left:180px;
	bottom:20px;}
.fifth_page .icon_bar .circle{
	background:#EA8B50;
	width:16px;
	height:16px;
	border-radius:16px;
	border:2px #fff solid;}
.fifth_page .icon_bar .little_bar{
	background:#EA8B50;
	width:90%;
	height:5px;
	border-radius:5px;}

.revealOnScroll {opacity: 0;}/*動畫製作*/
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.circle_1{
	position:absolute;
	-webkit-animation-name:circle_1;
    animation-name: circle_1;
    animation-duration: 1s;}
@-webkit-keyframes circle_1{
	0%{ opacity:1; left:0%; top:-5px;}
	100%{opacity:1; left:90%; top:-5px;}}
@keyframes circle_1{
	0%{ opacity:1;left:0%; top:-5px;}
	100%{ opacity:1;left:90%; top:-5px;}}
.circle_2{
	position:absolute;
	-webkit-animation-name:circle_2;
    animation-name: circle_2;
    animation-duration: 1s;}
@-webkit-keyframes circle_2{
	0%{ opacity:1; left:0%; top:-5px;}
	100%{opacity:1; left:85%; top:-5px;}}
@keyframes circle_2{
	0%{ opacity:1;left:0%; top:-5px;}
	100%{ opacity:1;left:85%; top:-5px;}}
.circle_3{
	position:absolute;
	-webkit-animation-name:circle_3;
    animation-name: circle_3;
    animation-duration: 1s;}
@-webkit-keyframes circle_3{
	0%{ opacity:1; left:0%; top:-5px;}
	100%{opacity:1; left:80%; top:-5px;}}
@keyframes circle_3{
	0%{ opacity:1;left:0%; top:-5px;}
	100%{ opacity:1;left:80%; top:-5px;}}
.circle_4{
	position:absolute;
	-webkit-animation-name:circle_4;
    animation-name: circle_4;
    animation-duration: 1s;}
@-webkit-keyframes circle_4{
	0%{ opacity:1; left:0%; top:-5px;}
	100%{opacity:1; left:95%; top:-5px;}}
@keyframes circle_4{
	0%{ opacity:1;left:0%; top:-5px;}
	100%{ opacity:1;left:95%; top:-5px;}}
.little_bar_1{
	position:absolute;
	-webkit-animation-name:little_bar_1;
    animation-name: little_bar_1;
	animation-duration: 1s;}
@-webkit-keyframes little_bar_1{
	0%{opacity:1;width:0%;}
	100%{opacity:1;width:90%;}}
@keyframes little_bar_1{
	0%{ opacity:1;width:0%;}
	100%{ opacity:1;width:90%;}}
.little_bar_2{
	position:absolute;
	-webkit-animation-name:little_bar_2;
    animation-name: little_bar_2;
	animation-duration: 1s;}
@-webkit-keyframes little_bar_2{
	0%{opacity:1;width:0%;}
	100%{opacity:1;width:85%;}}
@keyframes little_bar_2{
	0%{ opacity:1;width:0%;}
	100%{ opacity:1;width:85%;}}
.little_bar_3{
	position:absolute;
	-webkit-animation-name:little_bar_3;
    animation-name: little_bar_3;
	animation-duration: 1s;}
@-webkit-keyframes little_bar_3{
	0%{opacity:1;width:0%;}
	100%{opacity:1;width:100%;}}
@keyframes little_bar_3{
	0%{ opacity:1;width:0%;}
	100%{ opacity:1;width:100%;}}
	
